@page "/StateInfo/StateInfo"
@inherits StateInfoBase



@if (stateInfos == null)
{
    <h3>Loading State ...</h3>
}
else
{
    <h3 class="mb-5">State Info</h3>
    if (stateInfos.Count() > 0)
    {
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>


        <tbody>
        @foreach (var itm in stateInfos)
        {
            <tr>
                <td>@itm.Id</td>
                <td>@itm.Name</td>
                <td>
                    @itm.Description
                </td>
            </tr>
        }

            </tbody>
        </table>
    
    }
}



